footer {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.2rem;
    background-color: var(--secondary-color);
    color: var(--white-color);
    margin-top: auto;
  }
  